.user-filters-container {
    margin: 25px 40px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.input-search {
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;

    input {
        border: none;

        &::placeholder {
            color: #9E9E9E;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.filter-select-item {
    flex: 1;
    margin: 0 20px;
}

@media (max-width: 610px) {
    .user-filters-container {
        display: block;
        margin: 20px;
    }

    .filter-select-item {
        margin: 20px 0;
    }
}
