.card-content {
    width: 265px;
    height: 240px;
    background: #FFFEFE;
    border-radius: 10px;
}

.card-picture-align {
    text-align: center;
}

.card-picture {
    padding-top: 20px;
    height: 150px;
}

.card-text {
    margin: 10px 20px;
}
